@model LivrariaControleEmprestimo.DATA.Models.Livro

@{
    ViewData["Title"] = "Novo Livro";
}

<div class="container-fluid px-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 class="h3 mb-0 text-gray-800">Novo Livro</h1>
        <a asp-action="Index" class="btn btn-secondary">
            <i class="fas fa-arrow-left me-2"></i>Voltar
        </a>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex align-items-center">
            <h6 class="m-0 font-weight-bold text-primary">Formulário de Cadastro</h6>
        </div>
        <div class="card-body">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group mb-4">
                            <label asp-for="Nome" class="form-label">
                                <i class="fas fa-user me-2"></i>Nome
                            </label>
                            <input asp-for="Nome" class="form-control" placeholder="Digite o nome completo" />
                            <span asp-validation-for="Nome" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group mb-4">
                            <label asp-for="Autor" class="form-label">
                                <i class="fas fa-id-card me-2"></i>Autor
                            </label>
                            <input asp-for="Autor" class="form-control" placeholder="Digite nome do Autor" />
                            <span class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="border-top pt-3 mt-4">
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-save me-2"></i>Salvar Livro
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
